body{
    background-color: orange;
}



li{background-color: black;text-align: left;font-size: 30px;}

a{color: orange;}

.swag_3_in_1-removebg-preview{width: 350px;}

h1{background-color: black;color: orange;}

p{font-size: 30px;}

h3{background-color: black;color: orange;font-size: 35px;}

p1{font-size: 30px;}

p{font-size: 30px;background-color: black;color: orange;}

h4{font-size: 30px;background-color: orange;color: black;}