body{
    background-color: orange;
}



li{background-color: black;text-align: left;font-size: 30px;}

a{color: orange;}

h1{background-color: black;color: orange;font-size: 25px;}

.swag_1-removebg-preview{width: 300px;}

h2{background-color: black;color: orange;font-size: 25px;}

.master_staking-removebg-preview{width: 400px;}

h3{background-color: black;color: orange;font-size: 25px;}

h4{background-color: black;color: orange;font-size: 25px;}

div{background-color: black; color: orange;}